
h1 {color:red;

  }


hr{border-style: dotted none none;
border-color: grey;
border-width: 5px;
width: 10%;}
body{background-color: #F0F8FF;}
.whatup:hover {background-color: red;}
.whatup{width: 100px;
height: 100px;}
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
h2 {color: green;}
.nfp {left: 50px;}
